<div class="gridStyle" ng-grid="gridOptions"></div>
<b> {{action | uppercase}} </b>
    </br>
<span> <b>Log</b></span>
<table>
    <tr>
        <td>ItemId </td>
        <td> <input type="text" ng-model="New.ItemID" /></td>
    </tr>
    <tr>
        <td>EntryDate</td>
        <td> <input type="text" ng-model="New.EntryDate" /></td>
    </tr>
    <tr>
        <td>UserName</td>
        <td> <input type="text" ng-model="New.UserName" /></td>
    </tr>
    <tr>
        <td>Entry</td>
        <td>
            <textarea rows="10" cols="150" ng-model="New.Entry"></textarea>
        </td>
    </tr>
    <tr>
        <td >
            <input id="Submit1" ng-click="update()" type="submit" value="submit" />
        </td>
        <td >
            <input id="Submit2" ng-click="SearchLogs(New.Entry)" type="submit" value="search" />
        </td>
    </tr>
</table>
